###**len**() function

In [1]:
len('Hello')

5

In [117]:
student=['eman', 'aya', 'fatima', 'reem']
len(student)

4

###Escape Sequence

In [2]:
s= "python\""
print(s)

python"

In [3]:
s= "python\\"
print(s)

python\

In [4]:
#\n (backslash n to start new line)
s= "python\nprogramming"
print(s)

python
programming

###**split**() function

In [5]:
# split
# str.split(str1)：split a string by str1
s = "python is cool"
s.split()

['python', 'is', 'cool']

In [6]:
s = "python_is_cool"
s.split('_')

['python', 'is', 'cool']

## join

In [7]:

# str.join(iter)：join the string by iner
"--".join(['python','is','cool'])

'python--is--cool'

In [8]:
# str.join(iter)：join the string by iner
" ".join(['python','is','cool'])

'python is cool'

In [9]:
# replace
# str.replace(str1,str2)：replace the str1 by str2
s = 'python'
s.replace('py','ABC')

'ABCthon'

## str.upper()
## str.lower()

In [10]:
# lower and upper
# str.lower()：lower a string
# str.upper()：upper a string
s = "PYthon"
print(s.lower())
print(s.upper())

python
PYTHON

In [11]:
animals =['cat','dog','bird']
for i,x in enumerate (animals):
  print(i,x)

0 cat
1 dog
2 bird

In [12]:
for x in (animals):
  print(x)

cat
dog
bird

In [13]:
# List sort
list1 = [ 12, 45 , 32 ,55]
list1.sort()

In [14]:
list1

[12, 32, 45, 55]

In [15]:
# list.reverse()
list1.reverse()

In [16]:
l =[[1,3],[4,5]]
l[1][0]

4

In [17]:
l =[[1,3,5,7,9,3,0],[4,5,66,2,9,0,0]]
l[1][0]

4

##**Sets {}**
- sets not orderd and not indexed
- set slicing can't be done
- i cant use in it lists  , and dictionaries use only immutable data type
- items in set should be unique

In [18]:
#sets not orderd and not indexed
My_set1={"xx" , "tt" , 1000}
My_set2 = set(['Prince','Techs'])

In [19]:
My_set1

{1000, 'tt', 'xx'}

In [20]:
My_set2

{'Prince', 'Techs'}

In [21]:
#My_set1[0]  #Error because sets not indexed

In [22]:
#i cant use in it lists  , tuples , dictinaries
#My_set1={"xx" , "tt" , 1000,[1,2]}    #Error because tger's set in the list

In [23]:
My_set1={"xx" , "tt" , 1000,(1,2)}  #accept tuples because it's immutable

In [24]:
My_set1

{(1, 2), 1000, 'tt', 'xx'}

In [25]:
#asked if 1000 in the set
1000 in My_set1

True

In [26]:
len(My_set1)

4

In [27]:
#set.remove(obj)：removes an element from a set
My_set1.remove(1000)

In [28]:
1000 in My_set1

False

In [29]:
My_set1.add(4)

In [30]:
My_set1

{(1, 2), 4, 'tt', 'xx'}

In [31]:
My_set3={"Eman", 1 , "Cs" , "python" , "Cs" , 1}

In [32]:
My_set3

{1, 'Cs', 'Eman', 'python'}

In [33]:
#Clear set
My_set3.clear()

In [34]:
My_set3

set()

###***copy***()

In [35]:
# data assignment
a=[1,2,3,[4,5]]
b=a   # assign a to b
b[0]=99
print(a)

[99, 2, 3, [4, 5]]

In [36]:
# data assignment
a=[1,2,3,[4,5]]
b=a.copy()   # assign a to b
b[0]=99
print(a)

[1, 2, 3, [4, 5]]

In [37]:
#How to access List in the list
a[3][1]=40
print(a)

[1, 2, 3, [4, 40]]

###***Nested Loops***

In [38]:
people=["sama","Ahmed","Mohammed","Hussam"]
skills=['python' , 'cs','c']

In [39]:
for name in people:
  print(f"{name} skill is : ")
  for skill in skills:
    print(skill)

sama skill is :
python
cs
c
Ahmed skill is :
python
cs
c
Mohammed skill is :
python
cs
c
Hussam skill is :
python
cs
c

In [40]:
#write a multiplication table
for i in range (1,10):
# a outer loop
  for j in range(1,i+1):   # a inner loop
# string formatting
    print("%d X %d= %d \n" %(j,i,j*i),end=" ")
print()

1 X 1= 1
 1 X 2= 2
 2 X 2= 4
 1 X 3= 3
 2 X 3= 6
 3 X 3= 9
 1 X 4= 4
 2 X 4= 8
 3 X 4= 12
 4 X 4= 16
 1 X 5= 5
 2 X 5= 10
 3 X 5= 15
 4 X 5= 20
 5 X 5= 25
 1 X 6= 6
 2 X 6= 12
 3 X 6= 18
 4 X 6= 24
 5 X 6= 30
 6 X 6= 36
 1 X 7= 7
 2 X 7= 14
 3 X 7= 21
 4 X 7= 28
 5 X 7= 35
 6 X 7= 42
 7 X 7= 49
 1 X 8= 8
 2 X 8= 16
 3 X 8= 24
 4 X 8= 32
 5 X 8= 40
 6 X 8= 48
 7 X 8= 56
 8 X 8= 64
 1 X 9= 9
 2 X 9= 18
 3 X 9= 27
 4 X 9= 36
 5 X 9= 45
 6 X 9= 54
 7 X 9= 63
 8 X 9= 72
 9 X 9= 81

In [41]:
def f(a=128, b=2, *args, **kwargs):
  print("a: %d"%(a))
  print("b: %d"%(b))
  print("args:",args)
  for key,value in kwargs.items():
    print("%s is %s"%(key,value))
  print()

In [42]:
# default arguments
f()

a: 128
b: 2
args: ()

In [43]:
f(0,4)

a: 0
b: 4
args: ()

In [44]:
f(1,2,3,4,5)

a: 1
b: 2
args: (3, 4, 5)

In [45]:
f(1,2, cat='animal', dog='animal', cheese='food')

a: 1
b: 2
args: ()
cat is animal
dog is animal
cheese is food

##Anonymous function

In [46]:
fun_sum = lambda x,y : x+y

In [47]:
fun_sum(4,6)

10

##Higher-order function

In [48]:
my_list=[22,56,0,9,44,9]
def add_two(x):
  return x+2

In [49]:
#map
result = list(map(add_two,my_list))

In [50]:
result

[24, 58, 2, 11, 46, 11]

In [51]:
print(list(map(lambda x:x*x,my_list)))

[484, 3136, 0, 81, 1936, 81]

In [52]:
#filter
print(list(filter(lambda x:x%2==0 ,my_list)))

[22, 56, 0, 44]

##***Object Oriented Programming***

In [53]:
class Dog:
  def __init__(self,name,age):
    self.name=name
    self.age=age
  def sit(self):
    print(self.name.title()+' '+"is now sitting")
  def run(self):
    print(self.name.title()+' '+"is now running")

In [54]:
my_dog=Dog('Husky',3)

In [55]:
my_dog.name

'Husky'

In [56]:
my_dog.name='lala'

In [57]:
my_dog.name

'lala'

In [58]:
my_dog.sit()
my_dog.run()

Lala is now sitting
Lala is now running

In [59]:
#add nwe data to the object
my_dog.food='cat food'
print(my_dog.food)

cat food

In [60]:
#Encapsulation
class SimpleCounter:
  __secretCount=0   # private variable
  publicCount =0      # public variable
  def count(self):
    self.__secretCount+=100
    print(self.__secretCount)

In [61]:
counter= SimpleCounter()
counter.count()
print(counter.publicCount)

100
0

In [62]:
#counter.__secretCount      #Erroe beacuse it's private variable

In [63]:
#Inheritance
class Parent:  # parent class
  parentAttr =100
  def __init__(self):
    print("instantiating parent")

  def parentMethod(self):
    print('parent method')

  def setAttr(self,attr):
    Parent.parentAttr=attr
    
  def getAttr(self):
    print("parent attribute: ",Parent.parentAttr)

In [64]:
class Child( Parent):  # child class
  def __init__(self):
    print("instantiating child")

  def childMethod(self):
    print('child method')

  def getAttr(self):
    super().getAttr()
    print("child says hello!")

In [65]:
c =Child()        # instantiate child
c.childMethod()   # call child method
c.parentMethod()  # call parent method
c.setAttr(200)    # set attribute (parent method)
c.getAttr()       # call attribute (parent method)

instantiating child
child method
parent method
parent attribute:  200
child says hello!

In [66]:
#polymorphism
print(len("hello python!"))
print(len([1,2,3,4,5]))

13
5

In [67]:
class Student:
  num=0
  def __init__(self, name , age=0, courses='none'):
    self.__name=name        #private variable
    self.__age=age          #private variable
    self.courses=courses    #puplic variable
    Student.num+=1

  
  def getname(self):
    return self.__name
  
  def set_name (self, new_name):
    self.__name= new_name

  def getage(self):
    return self.__age
  
  def set_age (self, new_age):
    self.__age= new_age

  def describe(self):
    print('my name is'+' '+self.__name +' '+'and my age is'+' '+str(self.__age))
  
  def is_old (self,number):
    if self.__age >= number:
      print('student is old')
    else:
      print('student is not old')

In [68]:
student1=Student('Ahmed', 20, 'data science')
student2 = Student('fwzy' , 21,'math')

In [69]:
student1.getname()

'Ahmed'

In [70]:
Student.num

2

In [71]:
student1.describe()

my name is Ahmed and my age is 20

In [72]:
student1.is_old(21)

student is not old

In [73]:
student1.set_name('ee')

##**Regular expression**
- searching for spesific pattern
- (\s)     --> spaces
- (\d)     --> digits
- (\W)     --->symbols
- ([a-zA-z]) --> character
- [A-Za-z0-9] --> alphabet and digits
- (*) --> matches zero or more occurance

In [74]:
# import re module
import re

In [75]:
print(re.match('www','www.huawei.com').span())        # match from start of the text
print(re.match('com','www.huawei.com'))               # cannot match from middel of the text

(0, 3)
None

In [76]:
#The re.search() function returns a match object in case a match is found.
line='cat is smarter than fish'
searchObj=re.search(r'(.*) are smarter than (.*)',line)

In [77]:
#re.search(pattern, text)
line="Cats are smarter than fish and rr"
searchObj=re.search('(.*) are smarter than (.*) and (.*)',line)
if searchObj:
  print("searchObj.group() : ",searchObj.group())
  print("searchObj.group(1) : ",searchObj.group(1))
  print("searchObj.group(2) : ",searchObj.group(2))
else:
  print("Nothing found!!")

searchObj.group() :  Cats are smarter than fish and rr
searchObj.group(1) :  Cats
searchObj.group(2) :  fish

In [78]:
searchObj.group()

'Cats are smarter than fish and rr'

In [79]:
# re.compile(pattern).search(text) is equivalent to re.search(pattern, text)
pattern =re.compile(r'\d+') # match at least one digit
n=pattern.match('one12twothree34four') # match from start. no match
print(n)


# search from start, found 12
m=pattern.search('one12twothree34four')
print(m)
print(m.group())

None
<re.Match object; span=(3, 5), match='12'>
12

In [80]:
phone="2020-0101-000 # this is a phone number"    # remove the number sign (#) and everything behine it
num=re.sub(r'#.*',"",phone)   #The re.sub() function is used to replace occurrences of a particular sub-string with another sub-string.
print("phone number: ",num)
# remove everything that is not digit
num= re .sub(r'\D',"",phone)
print("phone number : ",num)

phone number:  2020-0101-000
phone number :  20200101000

In [81]:
#The re.findall() function returns a list of strings containing all matches of the specified pattern.
# find all the numbers in the text

text= "Tomorrow is 2022/2/31, today is 2022/2/30"
num1=re.findall(r'\d+',text)

print(num1)

['2022', '2', '31', '2022', '2', '30']

In [82]:
# find all the alphabets in the text
s=re.findall(r'[a-zA-z]+',text)
print(s)

['Tomorrow', 'is', 'today', 'is']

In [83]:
# find all the symbols in the text
s =re.findall(r'\W+',text)
print(s)

[' ', ' ', '/', '/', ', ', ' ', ' ', '/', '/']

In [84]:
# find all the alphabets and digits
s=re.findall(r'[A-Za-z0-9]+',text)
print(s)

['Tomorrow', 'is', '2022', '2', '31', 'today', 'is', '2022', '2', '30']

In [85]:
# find email address
text="my email address is: abc456@def.com"
s=re.findall(r'[A-Za-z0-9]+@[A-Za-z0-9]+\.com',text)
print(s)

['abc456@def.com']

In [86]:
# find url
text="Python home page: https://www.python.org"
s=re.findall(r'https?://.*',text)
print(s)

['https://www.python.org']

In [87]:
# find every div tag
html="aa<div>test1</div>bb<div>test2</div>cc "
res=re.search("<div>.*</div>",html)
print(res.group())

<div>test1</div>bb<div>test2</div>

## Errors and Exceptions

In [89]:
# Python can't compute 1/0
# print(1/0)   ZeroDivisionError: division by zero

In [91]:
try:
  print(1/0)
except Exception as e:
  print(e)

division by zero

In [98]:
try:
  age=int(input("inter your age: "))
except:
  print('This not intger')

else:
  print ('good , number')

finally:
  print("Python is cool")

inter your age: ff
This not intger
Python is cool

In [97]:
try:
  age=int(input("inter your age: "))
  print ('good , number')
except:
  print('This not intger')

inter your age: ff
This not intger

In [116]:
a = int(input())
try:
  b =[i for i in range(int(a))]                # if a<5, there will be an error
  print(b[4]/0)

except ZeroDivisionError:
  print("division by zero")

except ValueError:
  print("ValueError")

except IndexError:
  print("list index out of range")

finally:
  print("Python is cool")

rr

ValueError: ignored

In [115]:
a= input()
b =[i for i in range(int(a))]                # if a<5, there will be an error
print(b)
#a = [i for i in range 5]

3
[0, 1, 2]

In [110]:
x=[i for i in range(5)]

In [111]:
print(x)

[0, 1, 2, 3, 4]